<form [formGroup]="eventForm" (ngSubmit)="submitEvent(eventForm.value)">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Participates</mat-label>
    <input matInput formControlName="participates" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Time</mat-label>
    <mat-select formControlName="time">
      <mat-option
        *ngFor="let hourOption of hoursList"
        value="{{ hourOption }}"
        >{{ hourOption }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" maxlength="254"></textarea>
  </mat-form-field>
  <br />
  <button mat-button type="submit" [disabled]="eventForm.invalid">
    Submit
  </button>
</form>
