<div mat-dialog-content>
  <p>Are You Sure You Want To Delete This Event?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog(false)">Cancel</button>
  <button mat-button (click)="closeDialog(true)" cdkFocusInitial>Delete</button>
</div>
