<div id="overlay-wrapper" (click)="outerClick.emit($event)">
  <div>
    <ng-content select="#left-content"></ng-content>
  </div>
  <div>
    <ng-content select="#center-content"></ng-content>
  </div>
  <div>
    <ng-content select="#right-content"></ng-content>
  </div>
</div>
