:host {
  width: 100vw;
  height: 100vh;

  #overlay-wrapper {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    grid-template-columns: 4fr 1fr 1fr;
    grid-column-gap: 50px;
    display: grid;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.85);
    width: inherit;
    height: inherit;
  }
}
