:host {
  display: block;
  margin-top: 30px;
  max-width: 300px;

  ::ng-deep {
    .mat-card-header-text {
      text-align: center;
      width: 100%;
    }
  }

  .mat-card>:first-child,
  .mat-card-content>* {
    text-align: center !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
