<mat-card class="single-event">
  <!-- HEADER -->
  <mat-card-header>
    <mat-card-title>{{ title | titlecase }} at {{ time }} </mat-card-title>
  </mat-card-header>

  <!-- CONTENT -->
  <mat-card-content>
    <p>Description : {{ description }}</p>
    <p *ngIf="isExpended && participates">Participates : {{ participates }}</p>
  </mat-card-content>

  <!-- BTNS -->
  <app-action-btns
    *ngIf="isExpended"
    (edit)="editPopup.emit(this)"
    (delete)="confirmationPopup.emit(this)"
  >
  </app-action-btns>
</mat-card>
