<mat-card>
  <mat-card-header>
    <mat-card-title>{{ id | replace }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-event-form-component
      [id]="id"
      [eventData]="eventData"
      (eventEdit)="editEvent.emit($event)"
      (eventSubmit)="addEvent.emit($event)"
    >
    </app-event-form-component>
  </mat-card-content>
</mat-card>
