<mat-card>
  <!-- HEADER -->
  <mat-card-header>
    <mat-card-title>
      <!-- Year Nav -->
      <app-sides-navigation-btns (prev)="prevYear()" (next)="nextYear()">
        <h5>{{currentYear}} {{currentDate}}</h5>
      </app-sides-navigation-btns>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Month Nav -->
    <app-sides-navigation-btns id="month-nav" (prev)="prevMonth()" (next)="nextMonth()">
      <h3> {{months[currentMonth].monthName}}</h3>
    </app-sides-navigation-btns>
    <!-- Month -->
    <app-calendar-month [idPrefix]="idPrefix" [monthDaysNumbers]=" monthDaysArray"></app-calendar-month>
  </mat-card-content>
</mat-card>
