.mat-card {
  box-shadow: 0px 0px 30px black;
  border-radius: 10px;

  .mat-card-content {
    >app-calendar-month {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-row-gap: 20px;
    }
  }

  #month-nav {
    width: 100px;
    opacity: 0.8;
  }
}
