<div class="day-events-list" *ngFor="let event of eventList">
  <app-single-event appNoClickBuble [id]="event.id" [isExpended]="true" [description]="event.description"
    [participates]="event.participates" [time]="event.time" [title]="event.title" [inDates]="event.inDates"
    (confirmationPopup)="openDellPopup.emit(event)" (editPopup)="editPopup.emit($event)">
  </app-single-event>
</div>
