<h2>All Events</h2>
<ng-container *ngIf="events$ | async as eventItems">
  <app-single-event
    *ngFor="let event of eventItems"
    [id]="event.id"
    [description]="event.description"
    [participates]="event.participates"
    [time]="event.time"
    [title]="event.title"
    (confirmationPopup)="openPopup($event)"
  >
  </app-single-event>
</ng-container>
