:host {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  background-image: radial-gradient(
    circle 523px at 7.1% 19.3%,
    rgba(147, 15, 255, 1) 2%,
    rgba(5, 49, 255, 1) 100.7%
  );

  app-calendar {
    grid-column: 2;
  }

  app-events {
    position: absolute;
    grid-column: 1;
    overflow: auto;
    height: 100%;
    left: 0;
    padding: 50px 10px;
  }
}

@media only screen and (max-width: 1024px) {
  app-events {
    display: none;
  }
}
