:host {
  display: inherit;
  border: 2px solid lightgreen;
  text-align: center;
  transition: 0.4s all;
  position: relative;

  .single-day {
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;
    height: auto;
  }

  #right-content {
    ::ng-deep {
      .mat-card {
        display: grid;
        height: 100vh
      }
    }
  }

  &:hover {
    background-color: rgb(123, 31, 162);
    cursor: pointer;
  }

  .events-counter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin-top: 10px;
    ;
  }

  .weekenDay {
    &::before {
      display: block;
      content: "Weeken";
      width: 100%;
      background-color: lightgreen;
      top: -15px;
      left: 0;
      height: 15px;
      position: absolute;
      color: black;
      border-radius: 10px 10px 0 0;
    }
  }

  .today {
    background: whitesmoke;
    border-radius: 5px;
    color: black;
  }
}
