<div class="single-day" (click)="shouldDisplayEvents = true; isEditMode = true">
  <div [ngClass]="{ weekenDay: isWeeken, today: isToday }">
    {{ dayNumber }}
  </div>
</div>

<ng-container *ngIf="eventList$ | async as eventList">
  <!-- Badge -->
  <span
    *ngIf="eventCounter"
    class="events-counter"
    [matBadge]="eventCounter"
    matBadgeOverlap="false"
  >
  </span>
  <!-- OVERLAY -->
  <app-overlay
    *ngIf="shouldDisplayEvents || isEditMode"
    (outerClick)="closeOverlay()"
  >
    <app-day-event-list
      appNoClickBuble
      *ngIf="shouldDisplayEvents"
      id="center-content"
      [eventList]="eventList"
      (openDellPopup)="openDellPopup($event)"
      (editPopup)="editPopup($event)"
    >
    </app-day-event-list>
    <app-single-day-event-form
      appNoClickBuble
      *ngIf="isEditMode"
      id="right-content"
      [id]="id"
      (addEvent)="addEventToDay($event)"
      [eventData]="eventData"
      (editEvent)="editEvent($event)"
    >
    </app-single-day-event-form>
  </app-overlay>
</ng-container>
